.formulas-list {
  list-style: none;
  padding-left: 20px;
  width: 100%;
}

.formulas-list button {
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.formulas-list button:hover {
  background-color: #d0f9eb;
  border-color: #d0f9eb;
}
