#tangent-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

#tangent_2 {
  position: absolute;
  left: 0;
  top: 0;
}

#control-panel {
  display: flex;
  align-items: center;
  padding: 30px;
}
